<!DOCTYPE html>
<html>

<head>
  <!-- All required links -->
  <%- include("quicklink/head.ejs") %>
</head>

<body>
  <!-- Navigation bar -->
  <%- include("quicklink/nav.ejs") %>

    <div class="parallax">

      <div id="group7" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
          <div id="animate-area">
            <ul id="welcome2" class="text-animation hidden">
              <li>W</li>
              <li>E</li>
              <li>L</li>
              <li>C</li>
              <li>O</li>
              <li>M</li>
              <li>E</li>
            </ul>
            <br>
            <ul id="to" class="text-animation hidden">
              <li>T</li>
              <li>o</li>
            </ul>
            <br>
            <ul id="my" class="text-animation hidden">
              <li>M</li>
              <li>y</li>
            </ul>
            <br>
            <ul id="portf" class="text-animation hidden">
              <li>P</li>
              <li>o</li>
              <li>r</li>
              <li>t</li>
              <li>f</li>
              <li>o</li>
              <li>l</li>
              <li>i</li>
              <li>o</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="group5" class="parallax__group">
        <div class="parallax__layer parallax__layer--fore">

          <div class="w3-row">
            <div class="w3-col m6 w3-center w3-padding-large">
              <p>
                <b>
                  <a href="/moreProjects">
                    <i class="fa fa-file-code-o w3-margin-right"></i>Ficus</b>
                </a>
              </p>
              <br>
              <img id="thumbnailF" src="/img/Ficus.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me">
            </div>
            <div class="w3-col m6 w3-padding-large">
              <p class="info-text">Description: A Mobile Stock Trading Game app intended to be used by new or experienced inverters alike.Designed
                to help stock investors learn or refine their skills in investing and playing the Stock market.</p>
              <br>
              <p class="info-text">Built: MARCH 15, 2018 - APRIL, 20 2018</p>
              <br>
              <p class="info-text">Technologies used: Visual Studio 2018, React native, Loopback, MongoDB, Redis, Cron, Expo, Xcode, and Restful
                API ( iextrading )
              </p>
            </div>

            <div>
              <a href="/moreProjects" class="w3-btn" id="read-me-btn">Read More</a>
            </div>

          </div>
        </div>
        <div class="parallax__layer parallax__layer--base">
          <div id="animate-area"></div>
        </div>
      </div>

      <div id="group5" class="parallax__group">
        <div class="parallax__layer parallax__layer--fore">

          <a href="/moreProjects">
            <p class="lead">More Projects</p>
            <a/>

            <div class="w3-col m6 w3-center w3-padding-large">
              <p>
                <b>
                  <a href="https://davesdepot.herokuapp.com/" target="_blank">
                    <i class="fa fa-file-code-o w3-margin-right"></i>Daves Depot</b>
                </a>
              </p>
              <br>
              <a href="https://davesdepot.herokuapp.com/" target="_blank">
                <img id="thumbnail" src="/img/Daves-Depot.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off">
              </a>
            </div>
            <div class="w3-col m6 w3-padding-large">
              <p class="info-text">Description: An e-Commerce Web app intended to be used by DIYers as well as professional Vendors. Designed
                to be an Online Store for all type of products from the simple 2yr old painting to a professionally made
                sculpture anyone can buy and sell here.
              </p>
              <br>
              <p class="info-text">Built: MARCH 5, 2018 - MARCH, 12 2018</p>
              <br>
              <p class="info-text">Technologies used: Visual Studio 2018, React Redux, React Strap, MongoDB, Less, Restful API (our own) and payment
                method with strip.
              </p>
            </div>

            <div>
              <a href="/davesdepot" class="w3-btn" id="read-me-btn">Read More</a>
            </div>

            <div class="w3-row">
              <div class="w3-col m6 w3-center w3-padding-large">
                <p>
                  <b>
                    <a href="https://is-it-going-to-rain.herokuapp.com/" target="_blank">
                      <i class="fa fa-file-code-o w3-margin-right"></i>Weather-App</b>
                  </a>
                </p>
                <br>
                <a href="https://is-it-going-to-rain.herokuapp.com/" target="_blank">
                  <img id="thumbnail" src="/img/Weather-App.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off">
                </a>
              </div>
              <div class="w3-col m6 w3-padding-large">
                <p class="info-text">Description: A Web App that allows any user to search and get a description of the weather and it weekly
                  forecast.
                </p>
                <br>
                <p class="info-text">Built:FEBRUARY 26, 2018 - MARCH 2, 2018.
                </p>
                <br>
                <p class="info-text"> Technologies used: Visual Studio 2018, React Redux, Restful API (OpenWeatherMap).
                </p>
              </div>

              <div>
                <a href="/weatherapp" class="w3-btn" id="read-me-btn">Read More</a>
              </div>

            </div>
        </div>
        <div class="parallax__layer parallax__layer--base">
          <div id="animate-area"></div>
        </div>
      </div>
    </div>

    <!-- All required Functions -->
    <%- include("quicklink/functions.ejs") %>
</body>

</html>










































































<!-- 
  
  <div class="parallax__layer parallax__layer--back">
      
      <div class="banner skew"></div>
    </div>
  
    </div>
    </div>
    <div id="group5" class="parallax__group">
  
  
      <div class="parallax__layer parallax__layer--base" id="portfolio">
  
        <div class="w3-top">
          <div class="w3-bar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()"
              title="Toggle Navigation Menu">
              <i class="fa fa-bars"></i>
            </a>
            <a href="/" class="w3-bar-item w3-button">
              <i class="fa fa-home"></i>HOME</a>
            <a href="/contact" class="w3-bar-item w3-button w3-hide-small">
              <i class="fa fa-envelope"></i> CONTACT</a>
            </a>
          </div>
          <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="/contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
          </div>
        </div>
  
        <div class="pcd">
          <div class="bgimg-2 w3-display-container">
            <h3>
              <span class="w3-xxlarge w3-text-white w3-wide" style="font-family:'Antic Didone', serif; margin-left:160px">PORTFOLIO</span>
              <span class="long_underline left" style="width: 607px; left: -180px;"></span>
            </h3>
          </div>
          <h4 class="w3-center textb" style="font-family:'Antic Didone', serif;">MY WORK</h4>
          <p class="w3-center">
            <em style="font-size:25px">Here are some of my latest Projects.
              <br>Check Them Out.</em>
          </p>
          <br>
          <div class="w3-col m3">
            <a href="https://github.com/ZealQ/hackathon7">
              <img src="./img/hack.png" class="pp" alt="My Hackothon">
              <p style="font-size:25px">My Hackathon</p>
          </div>
          <br>
  
          <div class="w3-col m3">
            <a href="https://zq-change-calculator.herokuapp.com/">
              <img src="./img/mcal.png" class="pp" alt="Change Calculator">
              <p style="font-size:25px">My Change Calculator</p>
          </div>
  
          <div class="w3-col m3">
            <a href="https://zq-mortgage-calculator.herokuapp.com/">
              <img src="./img/mortcala.png" class="pp" alt="Mortgage Calculator">
              <p style="font-size:25px">A Mortgage Calculator</p>
          </div>
  
          <div class="w3-col m3">
            <a href="https://project-js-astro-weight-dqfqgibole.now.sh/">
              <img src="./img/astroc.png" class="pp" alt="Astro Calculator">
              <p style="font-size:25px">An Astro Calculator</p>
          </div>
  
          <div class="w3-col m3">
            <a href="https://san-diego-top-spots-gqsvtpajqo.now.sh/">
              <img src="./img/SD.png" class="pp" alt="San Diego Top Spots">
              <p style="font-size:25px">SD Top Spots</p>
          </div>
  
          <div class="w3-col m3">
            <a href="https://zq-vstda.herokuapp.com/">
              <img src="./img/todo.png" class="pp" alt="My Todo List">
              <p style="font-size:25px">VSTDA (Very Simple To Do App)</p>
          </div>
  
          <div class="w3-col m3">
            <a href="https://project-moviefinder.herokuapp.com/">
              <img src="./img/movF.png" class="pp" alt="Movie Finder">
              <p style="font-size:25px">A Movie Finder</p>
          </div>
  
          <div class="w3-col m3">
            <a href="https://is-it-going-to-rain.herokuapp.com/">
              <img src="./img/wethap.png" class="pp" alt="My Wether App">
              <p style="font-size:25px">A Weather App</p>
          </div>
        </div>
      </div>
    </div> -->