<!DOCTYPE html>
<html>

<head>
  <!-- All required links -->
  <%- include("quicklink/head.ejs") %>
</head>

<body>
  <!-- Navigation bar -->
  <%- include("quicklink/projectNav.ejs") %>
    <div class="parallax">

      <div id="group5" class="parallax__group">
        <div class="parallax__layer parallax__layer--fore">

          <p class="Ficus-lead">VSTDA</p>

          <div class="w3-row">
            <div class="w3-col m6 w3-center w3-padding-large">
              <p>
                <b>
              </p>
              <br>
              <img id="thumbnail" src="/img/VSTDA.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me">
            </div>
            <div class="w3-col m6 w3-padding-large">
              <h4>Summary</h4>
              <br>
              <p class="info-text">VSTDA (Very Simple To Do App). In this project I built a Todo app using React that allows users to enter their
                todo items and prioritize them based on their importance in to a list that they can later modify.</p>
            </div>
          </div>

          <div class="w3-row">
            <div class="w3-col m6 w3-center w3-padding-large">
              <p>
                <b>
              </p>
              <br>
              <img id="thumbnail" src="/img/to do.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me">
            </div>
            <div class="w3-col m6 w3-padding-large">
              <h4>Technologies</h4>
              <br>
              <p class="info-text">Front End: React / HTML5 / CSS3</p>
            </div>
          </div>

          <div class="w3-row">
            <div class="w3-col m6 w3-center w3-padding-large">
              <p>
                <b>
              </p>
              <br>
              <img id="thumbnail" src="/img/more-todo.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me">
            </div>
            <div class="w3-col m6 w3-padding-large">
              <h4>To Do List</h4>
              <br>
              <p class="info-text">This app is allows the user to input task that need to be completed, as well it also allows the selection of
                priority levels from low, med, or high. Once a user chooses from one of the 3 priority choices it is then
                saved to the side log. In the side log the tasks are stored in the order that they were created. The tasks
                that are stored can be edited at any time, allowing the user to add or delete content in a specifically selected
                task from that tasks at hand, also allowing the change of the priority level. And if need be the user can
                also delete a specific task from the list.
              </p>
            </div>

            <div>
              <a href="https://zq-vstda.herokuapp.com/" class="w3-btn" id="read-me-btn" target="_blank">Click To View More</a>
            </div>

          </div>

        </div>
        <div class="parallax__layer parallax__layer--base">
          <div id="animate-area-projects"></div>
        </div>
      </div>
    </div>

    <!-- All required Functions -->
    <%- include("quicklink/functions.ejs") %>
</body>

</html>