<!-- Footer -->
<div class="foot">
  <footer class="center">
    <a href="/" class="w3-button w3-light-grey">
      <i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div id="footfont" class="w3-section">
      <a href="https://www.linkedin.com/in/alonzo-quintero-99a7b7159/">
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </a>
      <a href="/img/Resume.pdf">
        <i class="fa fa-file w3-hover-opacity"></i>
      </a>
      <a href="https://github.com/ZealQ">
        <i class="fa fa-github w3-hover-opacity"></i>
      </a>
      </a>
      <p>©2018 Alonzo Quintero</p>
  </footer>
  </a>