<link rel="shortcut icon" href="./img/logn.png" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" media="mediatype and|not|only (expressions)" href="print.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Antic+Didone" rel="stylesheet">
<title>Alonzo Quintero's Portfolio</title>
<meta name="description" content="About Me And The Work I Do">
<style>
h1,h2,h3,h4,h5,h6{
    font-family: 'Antic Didone', serif;
}
</style>