<div class="w3-top">
  <div class="w3-bar" id="nav-bar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()"
      title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">
      <i class="fa fa-home"></i>Home</a>
    <a href="/moreProjects" class="w3-bar-item w3-button w3-hide-small">
      <i class="fa fa-money"></i>Ficus</a>
    <a href="/davesdepot" class="w3-bar-item w3-button w3-hide-small">
      <i class="fa fa-shopping-bag"></i>Daves Depot</a>
    <a href="/weatherapp" class="w3-bar-item w3-button w3-hide-small">
      <i class="fa fa-cloud"></i>Weather App</a>
    <a href="/moviefinder" class="w3-bar-item w3-button w3-hide-small">
      <i class="fa fa-file-movie-o"></i>Movie Finder</a>
    <a href="/VSTDA" class="w3-bar-item w3-button w3-hide-small">
      <i class="fa fa-list-ol"></i>VSTDA</a>
    <a href="/changecalc" class="w3-bar-item w3-button w3-hide-small">
      <i class="fa fa-calculator"></i>Change Calculator</a>

  </div>
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="/moreProjects" class="w3-bar-item w3-button" onclick="toggleFunction()">Ficus</a>
    <a href="/davesdepot" class="w3-bar-item w3-button" onclick="toggleFunction()">Daves Depot</a>
    <a href="/weatherapp" class="w3-bar-item w3-button" onclick="toggleFunction()">Weather App</a>
    <a href="/moviefinder" class="w3-bar-item w3-button" onclick="toggleFunction()">Movie Finder</a>
    <a href="/VSTDA" class="w3-bar-item w3-button" onclick="toggleFunction()">VSTDA</a>
    <a href="/changecalc" class="w3-bar-item w3-button" onclick="toggleFunction()">Change Calculator</a>
  </div>
</div>